// Tipografia
$fuentePrincipal: "Montserrat", sans-serif;

// Colores
$green: #4CB8B3;
$pink: #F53756;
$yellow: #FEFA6D;
$purple: #752F97;
$black: #000000;
$white: #ffffff;

// Tamaños para los Media Queries
$phone: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopKL: 1200PX;

